*{ /* reseteo inicial*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografias importadas:   
font-family: 'Cormorant Infant', serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Dancing Script';
font-family: 'Raleway';
*/
/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

/*----------------- index (html)------------------*/
.contenedor_header { /* Caja contenedora de la cabecera*/
    background-color: blanchedalmond;
    width: 100%;
    /*position:fixed;*/
    top:0px;
    right:0px;
    left:0px;
    /*max-width:100%;*/
    height:180px;   /* Por darle un valor fijo para evitar conflictos con :auto */
    z-index:10
    
}

/* background personalizado */
.main-background{
    background: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #0142a0 0, #0f133a 44.41%, #101034 69.58%, #301436 100%);
}

.logo_tienda { /* Logo de la tienda */
    width: 300px;
    height: 160px;
    padding: 15px;
    position: relative;
    top: 10px;
    left: 10px;
}

ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    margin: 10px;
}

.caja_barraNav { /* barra de navegacion */
    padding: 10px;
    position: absolute;
    top: 61px;
    left: 60%;
    font-family: Roboto;
    text-align: center;
}

section{ /* contenedor central */
    position: relative;
    display: inline-block;
    text-align: center;
    height: auto;
}

.texto-encima{ /* titulo de la seccion */
    position: absolute;
    margin-bottom: 10px;
    width: 30%;
    text-align: center;
    left: 35%;
    top: 5%;
}
.slogan{
    position: absolute;
    width: 55%;
    text-align: center;
    font-size: 20px;
    left: 22%;
    top: 30%;
    margin-bottom: 10px;
    }
h1{ /* Titulo */
    margin-bottom: 10px;
    /*font-family: Dancing Script;*/
    font-family: Cormorant Infant;
    font-style: italic;
    color: aqua;
    font-size: 50px;
    margin: 20px 20px;
    padding: 5px;
}
section div h3 { /* slogan */
    border: 1px solid black;
    font-family: Raleway;
    color: white;
}
.boton_conocenos{ /* posicionamiento del botón */
    position: absolute;
    width: 35%;
    left: 42%;
    top: 45%;
}  
main section div ul li{ /* diseño boton */
    margin: 8px;
    padding: 8px;
    background-color: #aec52a;
    color: white;
    border: 1px solid black;
    width: 200px;
    margin-left: 20px;
    text-align: center;
    
}
main section div ul li a{
    text-decoration: none;
}
.buttons {
    min-width: 700px;
    display:flex;
    position: absolute;
    left: 26%;
    top: 60%;
    justify-content: space-around;
}
  
.buttons i {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: black;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
  
.buttons i:hover {
    transform: scale(1.2);
}

/*------------ quienes_somos (html)---------------------------*/
article{ /* contenedor padre QS */
    margin-top: 0px;
    /*background-color: rgba(0, 0, 245, 0.5);*/
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 0.55fr 0.75fr 0.25fr 0.75fr 0.25fr 0.75fr;
    grid-template-areas: 
    "titulo img"
    "parrafo_0 img"
    "sub_1 img"
    "parrafo_1 img"
    "sub_2 img"
    "parrafo_2 img"
    ;
}  
.titulo_QS{
    background-color: black;
    grid-area: titulo;
}
article h1{ /* titulo de la pagina QS*/
    font-size: 40px;
    font-family: Cormorant Infant;
    font-style: italic;
}
.parrafo0_QS{ /* texto del parrafo 0*/
    background-color: black;
    color: burlywood;
    grid-area: parrafo_0;
    padding-left: 30px;
    padding-top: 5px; 
    padding-right: 20px;
    text-align: justify;
}   

article div p{
    font-family: Roboto;
    font-style: normal;
    font-size: 17px;
}
.subtitulo_1{ /* subtitulo del parrafo 1*/
    background-color: black;
    grid-area: sub_1;
    padding: 20px;
    padding-top: 20px;
    font-family: Cormorant Infant;
    font-style: italic;
    text-align: left;
    font-size: 20px;
    color: silver;
}
.parrafo1_QS{ /* texto del parrafo 1*/
    background-color: black;
    color: burlywood;
    grid-area: parrafo_1;
    padding-left: 30px;
    padding-top: 5px; 
    padding-right: 20px;
    text-align: justify;
}
.subtitulo_2{ /* subtitulo del parrafo 2*/
    background-color: black;
    grid-area: sub_2;
    padding: 20px;
    font-family: Cormorant Infant;
    font-style: italic;
    text-align: left;
    font-size: 20px;
    color: silver;
}
.parrafo2_QS{ /* texto del parrafo 2*/
    background-color: black;
    color: burlywood;
    grid-area: parrafo_2;
    padding-left: 30px;
    padding-top: 5px; 
    padding-right: 20px;
    text-align: justify;
}
.imagen_derecha{
    background-color: black;
    grid-area: img;
    padding-left: 90px;
    padding-top: 10px;
    align-items: center;
}

/*------------ compras (html)--------------*/
.flex-container{
    display: flex;
    flex-direction: column;
}

.titulo_compras{
    /*padding-left: 30px;
    padding-top: 10px;*/
    background-color: black;
    text-align: left;
    font-size: 40px;
    padding: 10px 20px;
    
}  

.slogan_compras{
    width: 70%;
    flex: 50px;
    background-color: beige;
    padding: 50px;
    margin-left: 80px;
    text-align: left;
    font-size: 20px;
}

.subtitulo_compras{
    flex: 50px;
    background-color: khaki;
    padding: 20px;
    font-family: Cormorant Infant;
    font-style: italic;
    font-size: 20px;
}

.mensajeCentral{
    flex: 50px;
    background-color: goldenrod;
    padding: 50px;
    margin-left: 80px;
    text-align: left;
    font-size: 20px;
}

.mensajeFinal{
    flex: 50px;
    background-color: goldenrod;
    padding-left: 50px;
    margin-left: 80px;
    text-align: left;
    font-size: 20px;
}

/*------------ boton whatsapp -------------*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/*------------ contacto (html)-------------*/
.form{
    background-color: #18A383;
    text-align: center;
}
input, textarea{
    outline: none;
    border: 0;
    width: 280px;
}
.field{
    border: solid 1px #ccc;
    padding: 10px;
}
form{ /*interior del form*/
    background-color: white;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 450px;
    border-radius: 5px;
}  
input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}
textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px;
}
.field:focus{
    border-color: #18A383;
}
.center-content{
    text-align: center;
}
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn-green{
    color: white;
    background-color: #3CC93F;
}
/*.btn-green: hover{
  background-color: #37B839;
}
.btn-green: active{
    background-color: #29962A;
}*/

/*------------ galería (html)---------------------------*/
.galeria_padre{ /*contenedor padre*/
    margin-top: 0px;
    background-color: #999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.6fr 0.6fr 0.6fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "cartel cristal cuchillo"
    "campo mueble misc"
    "bar . ."
    ;
    gap: 10px;
    justify-items: center;
    align-items: center;
    
}
.titulo_Gal{
    background-color: black;
    grid-area: titulo;
    padding-left: 10px;
    width: 100%;
}
.carteles{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    background-color: #999;
    grid-area: cartel;
    /*border: 1px solid #000;*/

}
.cristal{
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    background-color: #999;
    grid-area: cristal;
    /*border: 1px solid #000;*/
}
.cuchillos{
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    background-color: #999;
    grid-area: cuchillo;
    /*border: 1px solid #000;*/
}
.campo{
    padding: 5px;
    text-align: center;
    background-color: #999;
    grid-area: campo;
    /*border: 1px solid #000;*/
}
.muebles{
    padding: 5px;
    text-align: center;
    background-color: #999;
    grid-area: mueble;
    /*border: 1px solid #000;*/
}
.miscelanea{
    padding: 5px;
    text-align: center;
    background-color: #999;
    grid-area: misc;
    /*border: 1px solid #000;*/
}
.bar{
    padding: 5px;
    text-align: center;
    background-color: #999;
    grid-area: bar;
    /*border: 1px solid #000;*/
}

/*-------------- pie de pagina (todas) ---------------*/ 
footer{
    background-color: blanchedalmond;
    width: 100%;
    margin-left: 0px;
    padding: 50px;
    padding-left: 60px;
    top: 30px;
}
#container_footer{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}
footer div h3{
    margin-left: 7%;
}
.nav__googleMap{ /*columna izquierda*/
    position: absolute;
    margin-left: 20%;
    padding: 10px;
    width: 30%;
    text-align: center;
    top: 0;
    left: 20px;
}
.pie__nuestrosProductos{ /*columna central*/
    position: absolute;
    margin-left: 40%;
    width: 30%;
    height: 200px;
    padding: 10px;
    top: 0;
}

.pie__nuestrosProductos h3{
    font-family: Cormorant Infant;
    color: black;
    font-size: 20px;
}
.div__contactos{ /*columna derecha*/
    position: absolute;
    display: block;
    margin-left: 70%;
    width: 50%;
    height: 200px;
    padding: 10px;
    top: 0px;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
}